{
  "extends": ["airbnb"],
  "env": {
    // "node": true,
    "browser": true,
  },
  "rules": {
    "semi": ["warn", "never"],
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "react/forbid-prop-types": false,
    "import/prefer-default-export": ["warn"]
  },
}